.profile-card {
    max-width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.profile-pic {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    
    background-color: #e9ecef;
    margin: 0 auto 20px auto; 
    background-size: cover;
}
h3 {
    color: rgb(10, 7, 8);
    font-weight: 900;
    font-size: 33px;
}
p {
    color: rgb(6, 6, 9);
    font-weight: 500;
    font-size: 25px;
    
}
input[type="text"] {
    margin-bottom: 10px;

}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.btn {
    flex: 1;
    min-width: 150px;
}
